<h1>Pages#home</h1>

<p>INPUT IDENTITIES</p>
<% @game.inputs.each do |input| %>
<div>
	<%= input.necessary %>
	<%= input.sufficient %>
</div>
<% end %>

<p>EVIDENCE</p>
<% @evidence_sets.each do |evidence_set| %>
	<div class="evidence-set">
		<div class="input-bulbs">
			<% (0...Game::NUM_INPUTS).each do |i| %>
				<div class="input-bulb <%= 'active' if evidence_set[i] %>"></div>
			<% end %>
		</div>
		<div class="output-bulb <%= 'active' if evidence_set[Game::NUM_INPUTS] %>"></div>
	</div>
<% end %>



