// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.evidence-set {
	margin-bottom: 30px;
	position: relative;
}

.input-bulbs {
	display: inline-block;
	margin-right: 20px;
}

.input-bulb, .output-bulb {
	width: 20px;
	height: 20px;
	border: 2px solid black;
}

.input-bulb {
	display: inline-block;
	&.active {
		background-color: yellow;
	}
}


.output-bulb {
	display: inline-block;
	&.active {
		background-color: green;
	}
}